body{
    background: rgb(0, 0, 0);
    background: linear-gradient(30deg, rgb(122, 151, 175) 35%, rgb(250, 145, 33) 0%);
}

h1{
    text-align: center;
    background-color: #1555B5;
    color: rgb(249,157,59,1);
    background-color: #1555B5;
    border-radius: 41px 0px 42px 0px;
    box-shadow: 1px 1px #ffffff;
    margin: 0 50px 20px 50px;
    font-size: 40px;
    box-shadow: 0px 6px 7px 0px #000000bf;
    font-style: italic;    
}

p{
color: #1555B5;
font-size: larger;
box-shadow: 0px 6px 7px 0px #000000bf;
}

#contato{
    color: #ffffff;
    margin-left: 15px;
    text-align: center;
    margin-top: 30px;
    background-color: #1555B5;
    border-radius: 41px 0px 42px 0px;
    box-shadow: 1px 1px #ffffff;
    margin: 0 50px 40px 50px;
    box-shadow: 6px 6px 8px 0px #000000bf;
}

#end{
    color: #ffffff;
    margin-left: 15px;
    text-align: center;
    margin-top: 30px;
    background-color: #1555B5;
    border-radius: 41px 0px 42px 0px;
    box-shadow: 1px 1px #ffffff;
    margin: 0 50px 40px 50px;
    box-shadow: 5px 5px 8px 0px #000000bf;
    font-size: 20px;
}

#logo{
    margin-bottom: -50px;
    margin-left: 69px;
}

.Hist{
    text-align: center;
    font-size: 40px;
    color: #1555B5 ;
    font-style: italic;    
}

.links{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-bottom: 50px;
    margin: 0 50px 20px 50px;


}
.T2{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-bottom: 10px;
    margin: 0 50px 20px 50px;


}
.T3{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 30px;
    margin-bottom: 10px;
    margin: 0 50px 20px 50px;

}

#voltar{
    color: #ffffff;
    margin-left: 15px;
    text-align: center;
    margin-top: 30px;
    background-color: #ffa600;
    border-radius: 41px 0px 42px 0px;
    box-shadow: 1px 1px #ffffff;
    margin: 0 50px 40px 50px;
    box-shadow: 5px 5px 8px 0px #000000bf;
    font-size: 20px;

}